*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  background-color: gray;
}

.root {
  overflow: hidden;
  min-height: 200vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

nav p {
  width: 100%;
}

nav p:nth-child(2) {
  grid-column: 5 / 6;
}

nav p:nth-child(3) {
  grid-column: 6 / 7;
}

nav p:nth-child(4) {
  grid-column: 7 / 8;
}

nav p.nav-mobile:first-child {
  grid-column: 1 / 3;
}

nav p.nav-mobile:nth-child(2),
nav p.nav-mobile:nth-child(3),
nav p.nav-mobile:nth-child(4) {
  text-align: left;
}

.landing { 
  width: 100%;
  height: 100vh;
  grid-column: 1 / 13;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  width: 100%;
}

.about {
  height: 100vh;
  grid-column: 1 / 13;
}

.work {
  /* height: 100vh; */
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.project {
  height: 400px;
}

.img {
  background-image: url('./assets/exoplanets.png');
  background-size: 100% 100%;
  width: 320px;
  height: 180px;
}

.footer {
  height: 20vh;
  grid-column: span 12;
  display: flex;
}

.icon {
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1) blur(.2px) contrast(30);
  transition: filter 200ms ease-out;
  position: relative;
  margin: 0 10px;
} 

.icon:hover {
  filter: none;
}

.github {
  background-image: url('./assets/github-logo.png');
}

.linkedin {
  background-image: url('./assets/LI-In-Bug.png');
}

.medium {
  background-image: url('./assets/medium.webp');
}

.medium:hover {
  background-color: white;
}