*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: red;
  color: white;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #070713;
  color: #2FE8C3;
}

body {
  overscroll-behavior-y: none;
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.root {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

nav p:hover {
  cursor: pointer;
}

nav p:nth-child(2) {
  grid-column: 5 / 6;
}

nav p:nth-child(3) {
  grid-column: 6 / 7;
}

nav p:nth-child(4) {
  grid-column: 7 / 8;
}

nav p.nav-mobile:first-child {
  grid-column: 1 / 3;
}

nav p.nav-mobile:nth-child(2),
nav p.nav-mobile:nth-child(3),
nav p.nav-mobile:nth-child(4) {
  text-align: left;
}

.landing { 
  width: 100%;
  height: 100vh;
  grid-column: 1 / 13;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  width: 100%;
}

.about {
  height: 100vh;
  grid-column: 1 / 13;
}

.work {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.project {
  height: 400px;
}

.img-wrap {
  --x: 0;
  --y: 0;
  --d: 50;
  
  width: 400px;
  height: 225px;
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  /* transform: translate3d(calc(var(--x) / var(--d) * -1px), calc(var(--y) / var(--d) * -1px), 0); */
}


.img {
  --d: 20;
  
  background-position: center;
  background-size: 110% 110%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate3d(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px), 0);
}

.img:hover {
  cursor: pointer;
}

/* .img:nth-child(1) {
  background-image: url('./assets/exoplanets.png');
}

.img:nth-child(2) {
  background-image: url('./assets/type-test.jpeg');
}

.img:nth-child(3) {
  background-image: url('./assets/blockchain.jpg');
} */

.footer {
  height: 50vh;
  width: 100%;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.msg {
  margin: 20px 40px;
  grid-column: span 1;
  justify-self: start;
  align-self: end;
}

.contact {
  width: 60%;
  grid-column: span 2;
  justify-self: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon {
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1) blur(.2px) contrast(30);
  transition: filter 200ms ease-out;
  position: relative;
  margin: 0 30px;
} 

.icon:hover {
  filter: none;
  cursor: pointer;
}

.github {
  background-image: url('./assets/github-logo.png');
}

.linkedin {
  background-image: url('./assets/LI-In-Bug.png');
}

.medium {
  background-image: url('./assets/medium.webp');
}

.medium:hover {
  background-color: white;
}